# Ignore all files by default
*
# Do not ignore directories
!*/
# Do not ignore files that contain a dot
!*.*
# Don't ignore Makefiles
!*Makefile
# Ignore dotfiles
.*
# Compiler artifacts
*.hi
*.o
*.vcd
*.history
*.bin
*.elf
section-3/riscv/test.json
section-3/riscv/test_mini.json
# Don't ignore .gitignore itself
!.gitignore
# Ignore foll dirs their contents
.bin/
obj_dir/
build/
