# Ignore all files by default
*
# Do not ignore directories
!*/
# Do not ignore files that contain a dot
!*.*
# Ignore dotfiles
.*
# Compiler artifacts
*.hi
*.o
# Don't ignore .gitignore itself
!.gitignore
# Ignore foll dirs their contents
.bin/
obj_dir/
